## <span style=color:blue> Human Resource and Candidate Search</span>

Analyst - Ashlea Pin Jui Huang

### <span style=color:blue> Overview</span>

Company Z - An outsourcing compnay in Customer Service is looking for team leaders with the new campaign they are about to launch. In order to help out the HR department to speed up the recruiting process. We will be creating a resume parser to screen the candidates. This project will fasten the hiring process and assit recruiters to filter out unqualified candidates for the first round, the qualified candidates will move to the second process for further screening.

### <span style=color:blue> About the Data</span>

We will be using 16 resumes, 1 csv file for a list of candidates and one file for job description. Resumes are collected on the internet such as Velvet Jobs with fictitious names. The content of job description is collected from Linkedin with a small modification.

### <span style=color:blue> Step1 - Data Exploration</span>

In [631]:
import os
import numpy as np
import scipy
import pandas as pd
from pandas import read_csv

#### Let's first look at the job description and see what we are working with.

In [632]:
JD = open('/Users/AshleaHuang/Desktop/A1/Job Description.txt',encoding='utf-8')
for line in JD:
    print(line [:-1])

Description
Imagine yourself going to work with one thing on your mind: to provide the best customer experience to your clients. As you tackle your new tasks for the day, you know what to keep in mind. As you look at your tasks for the day as Team Leader, you should be able to drive the performance of the teammates in order for them to continuously hit their goals. You must be able to coach and manage the teammates under your supervision and at the same time act as a bridge between your teammates and the other departments.


As a Team Leader, you manage the day-to-day planning and operation of your team. This includes making sure that each of the Teammate passes their Service Level Agreement (SLIs) and hit their Key Performance Indicators (KPIs). A Team Leader is also in charge of managing the team and make sure everyone adheres to their schedule. As a leader, you must be organized and be able to handle responsibility. Part of the role is to be able to train and help in their development by conducting team huddles, coaching sessions, and by recognizing their weaknesses so you can offer solutions to them. Through that, your team will be able to deliver a superior customer experience which is the main goal of the department. Aside from creating reports of the teamâ€™s performance and feedback from your client, the Team leader should be able to handle the issues that might arise (including HR related ones). Not to mention, being creative in terms of thinking of solutions and acting as the mediator between the management and your team is a  must.



Requirements
*At least 2 years in Customer Service and leading a team.
*Extraordinary listening, communication, and organizational skills
*Demonstrated ability to multi-task and follow through while paying attention to detail and deadlines
*Coachability, interest in implementing feedback, and dedication to the improvement of your craft
*Good interpersonal and relationship building skills
*An infectiously positive attitude and drive to win; a self-starter attitude and determination
*Be energetic and have the ability to thrive in a fast-paced dynamic environment and always remain professional
*Ability to remain calm and rational in highly stressful situations
*Team player who thinks quickly and is capable of creative problem solving
*Familiar with E-Commerce or any other CRM is a plus

In [633]:
cddlist= pd.read_csv('/Users/AshleaHuang/Desktop/A1/Resume/Candidates.csv')

cddlist

           Unnamed: 0    Unnamed: 1
0                 NaN           NaN
1                 NaN           NaN
2   Name of Candidate  Name of File
3        Conner Chase       CV1.txt
4        Blaire Clark       CV2.txt
5            Nick Liu       CV3.txt
6       Andi Richards       CV4.txt
7         Cater Young       CV5.txt
8         Jason Huang       CV6.txt
9     Christine Lacey       CV7.txt
10       Jasmine Weir       CV8.txt
11    Iris Richardson       CV9.txt
12         Jade Smith      CV10.txt
13           Jay Hope      CV11.txt
14        Chris Rosso      CV12.txt
15      Pheobe Buffay      CV13.txt
16        Rachel Bing      CV14.txt
17      Pheobe Buffay      CV15.txt
18      Jackey Forman      CV16.txt

### <span style=color:blue> Step2 - Organize and Clean up</span>

#### Now move on to our candidate list, as requested we will skip the first 3 rows to avoid messy headers.

In [635]:
cddlist= pd.read_csv('/Users/AshleaHuang/Desktop/A1/Resume/Candidates.csv', skiprows=3)
cddlist

   Name of Candidate Name of File
0       Conner Chase      CV1.txt
1       Blaire Clark      CV2.txt
2           Nick Liu      CV3.txt
3      Andi Richards      CV4.txt
4        Cater Young      CV5.txt
5        Jason Huang      CV6.txt
6    Christine Lacey      CV7.txt
7       Jasmine Weir      CV8.txt
8    Iris Richardson      CV9.txt
9         Jade Smith     CV10.txt
10          Jay Hope     CV11.txt
11       Chris Rosso     CV12.txt
12     Pheobe Buffay     CV13.txt
13       Rachel Bing     CV14.txt
14     Pheobe Buffay     CV15.txt
15     Jackey Forman     CV16.txt

### <span style=color:blue> Step3 - Screen and Match</span>

To find the right candidates, we need to filter the resumes that match the skills this position requires. To achieve this, we have to parse the keywords in job description and the key words in candidates' resume.
In order to find the best fit, we will be assigning score to the candidates to see who match the requirements the most.

In [636]:
resume =('/Users/AshleaHuang/Desktop/A1/Resume')
JD = os.path.join(os.getcwd(),'/Users/AshleaHuang/Desktop/A1/Job Description.txt')
with open(JD,'r') as f:
    rq = f.read().lower()
keyword = [word.strip() for word in rq.split()]

score = {}
for index, row in cddlist.iterrows():
    with open(os.path.join(resume, row['Name of File']),'r',encoding='utf8') as f:
        dt = f.read()
    content = [word.strip() for word in dt.split()]
    match = set(keyword) & set(content)
    score.update({row['Name of Candidate']:len(set(match))})

In [637]:
#set the score list to descending order
rank={name: score[name] for name in sorted(score,key=score.get,reverse=True)}
rank

{'Rachel Bing': 64,
 'Jasmine Weir': 52,
 'Iris Richardson': 50,
 'Pheobe Buffay': 49,
 'Jason Huang': 39,
 'Nick Liu': 32,
 'Andi Richards': 32,
 'Conner Chase': 30,
 'Jackey Forman': 30,
 'Christine Lacey': 28,
 'Chris Rosso': 27,
 'Blaire Clark': 26,
 'Cater Young': 23,
 'Jay Hope': 21,
 'Jade Smith': 15}

As seen above, we have assigned the scores to each candidates and sort it in descending order.

### <span style=color:blue> Step5 - Final Shortlist </span>

At last, to find the candidates with best qualities, we are going to pick out the top 5 candidates in this screening process.

In [638]:
top5 = list(rank)[:5]
top5

['Rachel Bing',
 'Jasmine Weir',
 'Iris Richardson',
 'Pheobe Buffay',
 'Jason Huang']

In [639]:
#creating a shortlist from candidate list
shortlist = ('/Users/AshleaHuang/Desktop/A1/Resume/shortlist.csv')
with open(shortlist, 'w') as f:
    for cddlist in top5:
        f.write("%s\n"%cddlist)

In [640]:
#organizing the final list by adding Name as header and export to file - to interview
slist = read_csv('/Users/AshleaHuang/Desktop/A1/Resume/shortlist.csv',header=None)
slist.columns = ['Name']
slist.to_csv('/Users/AshleaHuang/Desktop/A1/Resume/ToInterview.csv')

In [641]:
Result = read_csv('/Users/AshleaHuang/Desktop/A1/Resume/ToInterview.csv', index_col=[0])
Result

              Name
0      Rachel Bing
1     Jasmine Weir
2  Iris Richardson
3    Pheobe Buffay
4      Jason Huang

As a result, the list as shown above are arrnaged in descending order, which means the candidate Rachel Bing has the best qualification for this role.